name: Build .NET for QLKS

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore QLKS/QLKS/QLKS.csproj

      - name: Build project
        run: dotnet build QLKS/QLKS/QLKS.csproj --configuration Release --no-restore
